body {
    height: 100%;
  }
  

  
  .carousel-item {
    height: 100px;
  }
  .carousel-item h5 {
    margin-top: -400px;
    color: rgb(23, 168, 204);
    font-style: bold;
    font-size: 30px;
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 50px;
    font-style: bold;
    color: black;
  }
  
  .carousel-item p {
    color: rgb(177, 166, 12);
  
    font-size: 20px;
    font-family: sans-serif;
  }
  hr {
    border: 50%;
  }
  
  .card {
    background-color: darkgray;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .button {
    border-radius: 50px;
  }
  
  .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
  }
  
  .service-top {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .service-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.9;
    z-index: -1;
  }
  
  .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
  }
  
  .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .service-item p {
    color: white;
    text-align: left;
  }